---
layout: base
---
<article>
  <header class="blog-post-header">
    <h1>{{ page.title }}</h1>
    <p class="secondary-text">
      <time datetime="{{ page.date | date_to_xmlschema  }}">
        📅 {{ page.date | date_to_long_string: "ordinal", "US" }}
      </time> • 🖊 {{ page.author.name }} • 🏷 {{ page.tags | join: ", " }}
    </p>
  </header>
  {{ content }}
</article>
{% if page.previous != nil or page.next != nil %}
<nav class="blog-navigator secondary-text">
  {% if page.previous != nil %}
    <a class="navigator-container" href="{{ page.previous.url }}">
      <div class="secondary-text">Previous post</div>
      <div>{{ page.previous.title }}</div>
    </a>
  {% endif %}
  {% if page.next != nil %}
    <a class="navigator-container" href="{{ page.next.url }}">
      <div class="secondary-text">Next post</div>
      <div>{{ page.next.title }}</div>
    </a>
  {% endif %}
</nav>
{% endif %}
