---
layout: base
---
<article>
  <header class="blog-post-header">
    <h1>{{ page.title }}</h1>
    <p>
      <time datetime="{{ page.date | date_to_xmlschema  }}">
        📅 {{ page.date | date_to_long_string: "ordinal", "US" }}
      </time> • 🖊 {{ page.author.name }} • 🏷 {{ page.tags | join: ", " }}
    </p>
  </header>
  {{ content }}
</article>
{% if page.previous != nil or page.next != nil %}
<aside class="blog-navigator">
  {% if page.next != nil %}
  <p>Next post:</p>
  <p><a href="{{ page.next.url }}">{{ page.next.title }}</a></p>
  {% endif %}
  {% if page.previous != nil %}
  <p>Previous post:</p>
  <p><a href="{{ page.previous.url }}">{{ page.previous.title }}</a></p>
  {% endif %}
</aside>
{% endif %}
