---
layout: base
---
<article>
  <header class="blog-post-header">
    <h1>{{ page.title }}</h1>
    <p class="secondary-text">
      <time datetime="{{ page.date | date_to_xmlschema  }}">
        📅 <a href="/blog/years" class="muted-link">{{ page.date | date_to_long_string: "ordinal", "US" }}</a>
      </time>
      {% if page.last_modified_at != nil %}
        <time datetime="{{ page.last_modified_at | date_to_xmlschema  }}">
          <a href="/blog/years" class="muted-link"><em>(Updated: {{ page.last_modified_at | date_to_long_string: "ordinal", "US" }})</em></a>
        </time>
      {% endif %}
      • 🖊
      <a href="/blog" class="muted-link">{{ page.author.name }}</a>
      • 🏷
      <a href="/blog/tags" class="muted-link">{{ page.tags | join: ", " }}</a>
    </p>
  </header>
  {{ content }}
</article>
{% if page.previous != nil or page.next != nil %}
<nav class="blog-navigator secondary-text">
  {% if page.previous != nil %}
    <a class="navigator-container" href="{{ page.previous.url }}">
      <div class="secondary-text">Previous post</div>
      <div>{{ page.previous.title }}</div>
    </a>
  {% endif %}
  {% if page.next != nil %}
    <a class="navigator-container" href="{{ page.next.url }}">
      <div class="secondary-text">Next post</div>
      <div>{{ page.next.title }}</div>
    </a>
  {% endif %}
</nav>
{% endif %}
