# Jekyll configuration

# Site settings
# Used by the `jekyll-feed` and `jekyll-seo-tag` plugins.
title: febog
tagline: "Felipe Bojorquez's website: links, blog and projects"
description: >-
  Hi! I'm Felipe. I'm a software engineer always looking to learn the best
  ways to do things. Welcome to my personal website. Here you will find
  how to contact me and information about my projects and a tiny personal blog.
url: "https://febog.com"
logo: /assets/icons/apple-touch-icon.png
author:
  name: Felipe Bojorquez
  url: "https://febog.com"
social:
  name: Felipe Bojorquez
  links:
    - https://github.com/febog
    - https://hachyderm.io/@febog

# Set global permalink. All blog posts under `/blog`.
permalink: /blog/:year/:month/:day/:title

# Set timezone for correct URL generation
timezone: America/Los_Angeles

# Custom collections
collections:
  projects:
    output: true

# All pages use the base layout by default
defaults:
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
      author:
        name: Felipe Bojorquez
        url: "https://febog.com"
  - scope:
      path: ""
      type: "projects"
    values:
      layout: "project"
  - scope:
      path: ""
    values:
      layout: "base"
      image:
        path: "https://static.febog.com/febog-cover.png"
        height: 720
        width: 1280
        alt: Website's cover photo, febog written with light letters over a dark background.

plugins:
  - jekyll-sitemap
  - jekyll-feed
  - jekyll-seo-tag
